@import './margin-padding';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables
$color-primary: rgb(29, 161, 242);
:root {
  --color-background: #fff;
  --color-primary: #1da1f2;
  --color-primary-light: #77c7f7;
  --color-primary-lightest: #e3f3fd;
  --color-primary-darker: #0d95e8;

  --color-text-normal: #0f1419;
  --color-text-secondary: #5b7082;

  --color-border: rgb(235, 238, 240);
}
body {
  font: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  color: var(--color-text-normal);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}
.border-primary {
  border: 1px solid var(--color-primary);
}

// Typography
.text-normal {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.text-heading {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.text-heading-thinner {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-text-headings);
}
.text-bold {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-text-normal);
}
.text-secondary {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-text-secondary);
}
.text-center {
  text-align: center;
}
.hide {
  display: none !important;
}
