@import '../general/general';
@import '../general/layout';
@import '../components/navbar';
@import '../components/buttons';
@import '../components/new-tweet';

#main-section {
  > .heading {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(235, 238, 240);
    h1 {
      font-size: 20px;
      font-weight: 800;
    }
  }
}
