@import '../general/general';
@import '../general/layout';
@import '../components/navbar';
@import '../components/buttons';
@import '../components/new-tweet';
@import '../components/tweet';
@import '../components/sidebar';

#HomePage #main-section {
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  > .heading {
    display: flex;
    padding: 5px 15px;
    border-bottom: 1px solid rgb(235, 238, 240);
    align-items: center;
    img {
      border-radius: 50%;
      margin-right: 15px;
      width: 30px;
      height: 30px;
      display: none;
      @media (max-width: 500px) {
        display: block;
      }
    }
    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}
