.btn {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  &--primary {
    background-color: var(--color-primary);
    transition: background-color 0.1s;
    color: #fff;
    &:hover {
      background-color: var(--color-primary-darker);
    }
  }
  &--block {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 25px;
  }
}
