.btn {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  padding: 7.5px 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  &--primary {
    background-color: var(--color-primary);
    transition: opacity 0.1s;
    color: #fff;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
  &--block {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 25px;
  }
  &--outline {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
    transition: background-color 0.15s ease;
    &:hover {
      background-color: var(--color-primary-lightest);
    }
  }
}
