@import '../general/general';
@import '../components/new-tweet';
@import '../components/modal';

.createTweetModal {
  overflow: hidden;
  max-width: 600px;
  border-radius: 20px;
  background-color: var(--color-background);
  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-border);
    .tweet {
      display: none;
    }
  }
  .new-tweet {
    display: grid !important;
  }
  input.new-tweet__text {
    padding-bottom: 50px !important;
  }
  @media (max-width: 500px) {
    input.new-tweet__text {
      font-size: 18px !important;
    }
    .heading {
      .tweet.upper {
        display: initial;
      }
    }
    .tweet {
      display: none;
    }
  }
}
