.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  svg {
    width: 25px;
  }
  &:hover,
  &.active {
    color: var(--color-primary);
    fill: var(--color-primary);
    background-color: var(--color-primary-lightest);
  }
}
