@import './icon';

#navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  nav {
    width: 100%;
    .nav__link {
      display: flex;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;
      &__icon svg {
        font-size: 30px;
        width: 30px;
      }
      &__title {
        margin-left: 15px;
      }
    }
    .tweet-btn-icon {
      display: none;
      button {
        padding: 10px 12px;
        border-radius: 50%;
        svg {
          width: 30px;
          height: 30px;
          fill: #fff;
        }
      }
    }
  }
  @media (max-width: 1300px) {
    justify-content: flex-end;
    flex: unset;
    nav {
      .nav__link {
        &__title {
          display: none;
        }
        &__icon {
          padding: 10px;
          svg {
            margin-right: 0;
          }
        }
      }
      .tweet-btn {
        display: none;
      }
      .tweet-btn-icon {
        display: block;
      }
    }
  }
  @media (max-width: 500px) {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgb(235, 238, 240);
    padding: 0;
    nav {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .lists,
        .bookmarks,
        .profile,
        .more,
        .logo,
        .tweet-btn-icon {
          display: none;
        }
        .nav__link {
          margin-bottom: 0;
        }
      }
    }
  }
}
