.tabs {
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: 1px solid var(--color-border);

  .tab,
  > * {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-secondary);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-primary-lightest);
    }
    &.active {
      color: var(--color-primary);
      span {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: var(--color-primary);
          border-radius: 5px;
        }
      }
    }
  }
}
