article.tweet {
  display: grid;
  grid-template-columns: 48px calc(100% - 68px);
  column-gap: 20px;
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border);
  .author-image {
    height: 48px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .content {
    .upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        padding: 5px;
        margin-right: 10px;
        width: 30px;
      }
      > div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 1 auto;
        display: flex;
        .author {
          flex: 1 1 auto;
          padding-right: 5px;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          .author-username {
            font-weight: 400;
            color: var(--color-text-secondary);
          }
          .author-name {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    // Cotnent of the tweet
    .tweet-body {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
    }
    // like, retweet, share, ...
    .tweet-actions {
      padding-top: 15px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .action {
        color: var(--color-text-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: var(--color-primary);
          .icon {
            fill: var(--color-primary);
          }
        }
        &.like:hover {
          color: red;
          .icon {
            fill: red;
            background-color: lighten(red, 43);
          }
        }
        &.retweet:hover {
          color: green;
          .icon {
            fill: green;
            background-color: lighten(green, 65);
          }
        }
        .icon {
          padding: 7px;
          svg {
            width: 17px;
          }
        }
      }
    }
  }
}
